@media all and (min-width: 480px) {
  .profile {
    padding: 60px 0;
  }

  .profile form {
    margin: 0 auto;
    max-width: 320px;
  }
}
.head-text {
  position: relative;
}

.text-on-image {
  position: absolute;
  cursor: pointer;
  right: 50%;
  left: 45%;
  bottom: -2%;
}